<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
         <typeAlias type="kr.it.code.main.gallery.data.Gallery$AddRequest" alias="galleryRequest"/>
         <typeAlias type="kr.it.code.main.gallery.data.Gallery$Response" alias="galleryResponse"/>
    </typeAliases>

</configuration>